body{
    background-color: #2E4A62;/*sailor blue*/
    font-family: 'Poppins', sans-serif;
}

.communication{
    /* display: flex;
    flex-wrap:wrap;
    align: center; */
    display: inline-table;
    position: fixed;
}

#messages{
    background-color: #B4B7BA;/*harbor mist*/
    border: 5px solid #C0AB8E;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px;
    width:325px;
    height: 300px;
    overflow: auto;
}

#chat button {
    padding: 10px 28px;
    background-color: rgb(21, 161, 226);
    color:white;
    border:none;
    font-size:16px;
}
#chat input{
    padding: 7px 5px;
    font-size:16px;
}

#chat input {
    height:20px;
}

#chat{
    background-color: #92B558;
    width: 325px;
    border: 10px solid #92B558;
}

#chat *{
    border: 1pt solid green;
    display: inline-block;
    margin :left;
}

br{
    clear: left;
}

Canvas{
    margin-left: 350px;
    margin-top: 0px;
}

b {
    color:green;
}